.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding: 50px;
}

.App-logo {
  height: 60px;
  width: 60px;
  display: inline-block;
}

.Business-card {
  height: fit-content;
  text-align: center;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.Logo-container{
  text-align: right;
}